.knx-banner {
    color: rgb(24, 18, 18);
    text-align: left;
    padding: 32px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

img {
    margin: left 0;
}

background {
    background-color: rgba(20, 163, 27, 0);
}